.form {
    &__row {
        display: flex;
        align-items: center;
        padding: 9px 50px 8px;
        min-height: 32px;
    }

    &__row-label {
        flex: 0 0 86px;
        min-width: 110px;
        color: var(--color-accent);
        font-size: 13px;
        font-weight: 300;
        padding-right: 10px;
    }

    &__input {
        border: 1px solid transparent;
    }

    &__input:focus {
        border: 1px solid var(--color-accent);
    }

    &__input-block.has-error input {
        background-color: var(--color-error);
    }

    &__input-block.has-error input:focus {
        background-color: var(--color-submain);
    }

    &__input-star {
        position: absolute;
        font-size: 24px;
        left: 364px;
        top: 18px;
    }

    &__error-box {
        font-size: 11px;
        color: var(--color-error);
        display: none;
    }
}
