.pwd-change {
    &__content-block {
        padding: 0 50px;
    }

    &__form {
        padding-bottom: 10px;
    }

    &__fieldset {
        margin: 0 -50px 0;
    }

    &__btn {
        margin: 0 10px 0 0;
    }
}
