.verification {
    &__block {
        padding: 0 50px;
    }

    &__annotation {
        margin: 0 0 20px;
    }

    &__form {
        margin: 0 0 20px;
    }

    &__row {
        display: flex;
        padding: 0 0 0 50px;
        height: 50px;
        margin: 0 -50px 20px -50px;
        background-color: var(--color-main-fade);
    }

    &__col {
        display: flex;
        align-items: center;
        margin: 10px 10px 10px 0;
    }

    &__input {
        opacity: 0;
        z-index: 10;
        position: relative;
        height: 100%;
        cursor: pointer;
    }

    &__ghost {
        display: flex;
        align-items: center;
        border-radius: var(--border-radius);
        height: 32px;
        background: var(--color-submain);
        overflow: hidden;
        position: absolute;
        top: 0;
        z-index: 5;
        width: 100%;
    }

    &__select-file {
        flex: 1 1 10%;
        padding: 0 5px 0 10px;
        margin: 0 10px 0 0;
        color: var(--color-submain);
        height: 40px;
        line-height: 40px;
        background: var(--gradient-accent);
        font-size: 14px;
    }

    &__mess-file {
        flex: 1 1 50%;
        font-size: 13px;
        opacity: 0.7;
        line-height: 13px;
    }

    &__img-block {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 100%;
    }

    &__img-item {
        margin: 0 10px 10px 0;
        max-width: 30%;
    }

    &__img {
        max-width: 100%;
        height: auto;
        min-height: 30px;
        display: block;
        margin: 0 auto 5px;
    }

    &__img-delete {
        position: absolute;
        transform: rotate(45deg);
        font-size: 30px;
        color: var(--color-main);
        top: 5px;
        right: 5px;
        cursor: pointer;
        opacity: 0.9;
    }

    &__img-delete:hover {
        color: var(--color-accent);
    }

    &__img-delete:before {
        text-shadow: 0 0 10px var(--color-submain) !important;
    }

    &__img-status {
        color: var(--color-accent);
        font-weight: 600;
    }

    &__btn {
        margin: 0;
    }
}
